
<!-- Cabecera de la página -->
<header>
  <!-- Botones de navegación a la izquierda -->
  <div class="nav-buttons left">
    <!-- Botón de Login/Registro -->
    <button class="icon-button" *ngIf="!isLoggedIn" (click)="abrirLogin()">
      <mat-icon>login</mat-icon> <!-- Icono de inicio de sesión -->
      <span>Iniciar Sesión</span>
    </button>
  </div>

  <!-- Logo de la página -->
  <div class="logo" (click)="irAPrincipal()">
    <img src="assets/imagenes/logo-eduKids.png" alt="Logo de EduKids">
  </div>

  <div class="nav-buttons right">
    <!-- Botón de Admin -->
    <button class="icon-button" *ngIf="isAdmin" (click)="irAAdmin()">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>

    <!-- Icono de perfil - solo visible si está logueado y no es admin -->
    <button class="icon-button" *ngIf="isLoggedIn && !isAdmin" (click)="irAPerfil()">
      <mat-icon>person</mat-icon>
    </button>

    <!-- Icono del carrito - no visible para admin -->
    <div class="carrito-container" *ngIf="!isAdmin">
      <button class="icon-button" (click)="irACarrito()">
        <mat-icon>shopping_cart</mat-icon>
        <span class="carrito-contador" *ngIf="cantidadCarrito > 0">
          {{cantidadCarrito}}
        </span>
      </button>
    </div>
  </div>
</header>
