  <div class="admin-container">
    <div class="header-admin">
      <button class="btn-volver" (click)="volverAInicio()">
        ← Volver a la tienda
      </button>
      <button class="btn-cerrar-sesion" *ngIf="isLoggedIn" (click)="cerrarSesion()">
        <span>Cerrar Sesión</span>
    </button>
    </div>

      <h1>Panel de Administración</h1>
      <mat-tab-group>
        <mat-tab label="Gestión de Productos">
          <app-admin-productos></app-admin-productos>
        </mat-tab>
        <mat-tab label="Gestión de Pedidos">
          <app-admin-pedidos></app-admin-pedidos>
        </mat-tab>
      </mat-tab-group>
    </div>